@{
    ViewData["Title"] = "Create User";
}


@model Models.UserModel
<div class="row">
    <div class="col-xl">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @TempData["ErrorMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        }

        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @TempData["SuccessMessage"]
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        }
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Create Customer</h5>
            </div>
            <div class="card-body">
                <form asp-action="Create" method="post">
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Nama Paket</label>
                        <input type="text" asp-for="Name" class="form-control" placeholder="Nama Lengkap" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Email</label>
                        <input type="text" asp-for="Email" class="form-control" placeholder="Email" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="basic-default-fullname">Password</label>
                        <input type="password" asp-for="PasswordHash" class="form-control" placeholder="Paassword" required>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Role" class="form-label">Role</label>
                        <select asp-for="Role" class="form-select">
                            <option value="admin">Admin</option>
                            <option value="vendor">Vendor</option>
                            <option value="staff">Staff</option>

                        </select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>
                    <div class="d-flex justify-content-end mt-2 gap-2">
                        <a asp-action="Index" class="btn btn-secondary mt-3">Kembali</a>
                        <button type="submit" class="btn btn-success mt-3">Simpan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>